---
import Layout from "../../layouts/Layout.astro";
---


<Layout title="Code de conduite des Ateliers" description="Notre code de conduite appliqué aux ateliers Women Only Workshops">
        <section class="max-w-screen-lg m-auto px-8">

            <h1 class="text-4xl my-8">Code de conduite</h1>
            <h2 class="text-2xl my-8">Tous les participantes, organisateurs, sponsors et bénévoles de nos ateliers doivent accepter le code de conduite suivant.</h2>

            <div role="alert" class="alert">
                <span>Les organisateurs appliqueront ce code tout au long de l'événement. Nous attendons la coopération de
                toutes les participantes pour contribuer à garantir un environnement sûr pour tous.</span>
            </div>

            <h2 class="text-3xl my-8">La version courte</h2>

            <p>
                Nos ateliers sont dédiés à offrir une expérience respectueuse pour tous, quels que soient leur sexe, leur identité de genre et son
                expression, âge, orientation sexuelle, handicap, apparence physique, origine ethnique, religion (ou absence de religion) ou choix technologiques.
                Nous ne tolérons aucune forme de harcèlement des participantes à l'atelier.
                L'expression et la diffusion de contenu à caractère sexuel ou violent est interdite.
                Les participantes aux ateliers qui enfreignent ces règles se verront expulsées de l'atelier à la discrétion
                des organisateurs de l'atelier.
            </p>

            <h2 class="text-3xl my-8">La version moins courte</h2>

            <p class="mb-4">
                Le harcèlement comprend l'expression de commentaires verbaux offensants liés au genre, âge, orientation sexuelle, handicap, physique,
                apparence, taille du corps, origine ethnique, religion, choix technologiques,
                images à caractère sexuel dans l'espace public, intimidation délibérée, harcèlement criminel, perturbation soutenue de
                discussions ou autres événements, contacts physiques inappropriés et indésirables à attention sexuelle.
            </p>

            <p class="mb-4">
                Les participantes invitées à cesser tout comportement de harcèlement sont censées s'y conformer immédiatement.
            </p>

            <p class="mb-4">
                Toutes sociétés travaillant avec nous sur les ateliers sont également soumis à la politique anti-harcèlement. En particulier,
                les sponsors ne doivent pas utiliser d’images, d’activités ou tout autre matériel sexualisé.
                Les participantes, organisateurs, sponsors et bénévoles ne doivent pas utiliser de messages à caractère sexualisé,
                vêtements/uniformes/costumes, ou créer autrement un environnement sexualisé.
                Toute prise de photographie ou d'enregistrement est souis au droit à l'image et doit être approuvée par les personnes photographiées.
            </p>

            <p class="mb-4">
                Si une participante adopte un comportement de harcèlement, les organisateurs de l'atelier
                peuvent prendre toute mesure qu'ils jugent appropriée, y compris avertir le contrevenant
                ou l'exclure de l'atelier.
            </p>

            <p class="mb-4">
                Si vous êtes harcelée, remarquez que quelqu'un d'autre est harcelé, ou
                Si vous avez d'autres préoccupations, veuillez avertir un organisateur de l'atelier
                immédiatement.
            </p>

            <p class="mb-20">
                Nous attendons des participantes qu'elles suivent ces règles lors de l'atelier.
            </p>
        </section>
</Layout>
