---
import {Image} from 'astro:assets';
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ateliers de formation Angular Devs France" description="Découvrez nos ateliers de formation Angular dédicés à la communauté féminine" image="/social_share_ateliers.png">
    <img class="rounded-xl" src="/images/girls/banner.png" alt=""/>
    <Image class="self-center mt-8" src="/images/logos/wow/logo_bg_white.png" alt="" height="178" width="300" />
    <div class="flex justify-around items-center mt-6 sm:mt-12 mb-12">
        <div class="flex flex-col items-center">
            <h1 class="text-5xl text-center title">Ateliers de découverte à Angular</h1>
            <h2 class="text-base sm:text-2xl text-center mt-2 py-2 rounded-xl bg-[#383e97] text-white px-4 -rotate-2">dédiés à la communauté féminine</h2>
        </div>
    </div>

    <p class="text-center mb-6 text-2xl">"Accompagner l'employabilité et développer son réseau grâce à une journée de formation
        gratuite en non-mixité."</p>

    <a class="inline m-auto py-2 px-4 rounded bg-[#383e97] text-white text-xl" href="https://docs.google.com/forms/d/e/1FAIpQLSf3Pf9RFfJv9wRhB_DaVkrn8zH8rf6Z6ByVwjwp5KhAysD3uQ/viewform?usp=sf_link" target="_blank">Inscriptions pour Nantes</a>
    <p class="mt-12">Au delà de la simple découverte d'un nouveau framework, ce sont nos ambitions en proposant cet événément à la
        communauté féminine afin d'oeuvrer pour la diversité dans les métiers du numérique en France.</p>

    <p class="mt-6">Forts d'engagements individuels dans d'autres démarches (Duchess, Ada Tech School,
        EstimNumérique...), nous avons fait le choix
        de nous investir dans cette nouvelle action dans notre ligne directrice: le partage de connaissances au sein de
        la communauté Angular.</p>

    <section class="flex flex-col md:flex-row justify-between flex-wrap mt-12">
        <div class="md:max-w-[45%]">
            <h2 class="text-2xl mb-6">Un accompagnement par la communauté</h2>
            <p class="mb-6">Nous accompagnons les participantes avec le soutien de développeuses Angular locales qui
                prennent le rôle de mentor le temps d'une journée.</p>
            <p>Responsables d'un groupe d'apprenantes qu'elles suivent toute la journée, cet accompagnement permet de profiter
                d'un moment privilégié entre elles.</p>
        </div>
        <img class="md:max-w-[45%] rounded-2xl" src="/images/girls/adriana.jpg" alt="">
    </section>

    <section class="flex flex-col md:flex-row justify-between flex-wrap mt-12">
        <div class="md:max-w-[45%]">
            <h3 class="text-2xl mb-6">Déroulé</h3>
            <p>Nos ateliers se déroulent sur une journée complète, de 9h à 17h.</p>
            <p>Hébergés dans les locaux d'une entreprise locale, son accueil comprend un petit déjeuner et le repas du
                midi afin d'offrir une expérience immersive.</p>
            <p class="mt-6">Un contenu de formation est mis à disposition de chaque participante pour suivre l'apprentissage à son rythme et nos mentors les accompagnent.</p>

        </div>
        <img class="md:max-w-[45%] rounded-2xl" src="/images/girls/DJI_0173.jpg" alt="">
    </section>

    <h3 class="text-3xl mt-12" id="dates">Prochaines dates</h3>

    <h4 class="text-2xl mt-8">Nantes</h4>

    <p class="mt-4">Nous accueillerons très bientôt mentors et participantes à Nantes.</p>
    <p>En attente du choix d'une date avec les mentors, vous pouvez dès à présent vous préinscrire.</p>

    <div class="flex justify-center my-12">
        <a class="inline-block py-2 px-4 rounded bg-[#383e97] text-white text-xl"
           href="https://docs.google.com/forms/d/e/1FAIpQLSf3Pf9RFfJv9wRhB_DaVkrn8zH8rf6Z6ByVwjwp5KhAysD3uQ/viewform?usp=sf_link"
           target="_blank">Inscription</a>
    </div>

    <!--
    <img src="images/girls/banner-2.png" alt="">
    -->


    <section class="flex flex-col md:flex-row justify-between flex-wrap mt-12">
        <div class="md:max-w-[45%] mb-4">
            <h3 class="text-3xl mb-6">Bientôt dans votre entreprise?</h3>
            <p>Initiative bénévole, nous sommes à la recherche de locaux prêts à accueillir les participantes et les
                mentors
                pour leur permettre de se réunir dans les meilleurs conditions.</p>
            <p class="mb-6"> Afin de créer à la fois une cohésion et une atmosphère conviviale, cette recherche va avec
                un sponsoring sur la
                prise en charge d'un petit déjeuner et d'un repas pour proposer la meilleure expérience d'accueil
                possible à
                toutes.</p>

            <a class="py-2 px-4 rounded bg-[#383e97] text-white" href="mailto: angulardevsfr@gmail.com">Nous
                contacter</a>

        </div>
        <img class="md:max-w-[45%] rounded-2xl" src="/images/girls/DJI_0173.jpg" alt="">
    </section>

    <img class="mt-16 rounded-2xl" src="/images/girls/groupe.jpeg" alt="">
</Layout>
<style>
    .title {
        font-family: 'Lilita One', sans-serif;
    }
</style>
